@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
}

:root {
    --vermelho: #922F0F;
    --roxo: #282142;
    --verde: #1F4935;
    --marrom: #2B2120;
    --perola: #E1C8C8;
    --branco: #ffffff;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: var(--marrom);
    color: var(--perola);
}

/* Configurações de texto */
h1 {
    font-size: 1.2rem;
}

.nome {
    font-size: 1.5rem;
    color: var(--verde);
    font-weight: 700;
}

h3 {
    padding: 1rem;
    color: var(--branco);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0.5rem 0;
}

/* Divider */
.custom-shape-divider-top-1736381775 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider-top-1736381775 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1736381775 .shape-fill {
    fill: var(--verde);
}

/* Flexbox */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

/* Header */
#header_content {
    height: 80px;
    position: sticky; 
    top: 0;
    width: 100%;
    justify-content: flex-end;
    padding: 24px;
}

#menu li {
    display: inline;
    padding: 1.2rem;
}

#menu li a {
    color: var(--perola);
    font-size: 20px;
}

#menu li a:hover {
    text-decoration: underline;
}

/* About */
#about {
    flex-direction: column;
    margin: 10rem auto;
    width: 75%;
}

#conteudo {
    flex-direction: row;
    gap: 10rem;
}

#conteudo img {
    width: 850px;
}

/* Música */
#musica {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
}

#musica h2 {
    padding-bottom: 25px;
}

/* Footer */
footer {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    background-color: var(--verde);
}

#redes_sociais {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 1rem;
    width: 320px;
}

#redes_sociais img {
    height: 36px;
    width: 36px;
    filter: brightness(1.5);
}

.social_icon {
    width: 4rem;
    height: 4rem;
    filter: brightness(0) saturate(100%) invert(100%);
}

.social_icon:hover {  
    filter: brightness(0) saturate(100%) invert(65%) sepia(59%) saturate(2437%) hue-rotate(213deg) brightness(86%) contrast(88%);
}

/* Contato */
#contact {
    flex-direction: row;
    gap: 2rem;
    padding-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 2rem 0;
    padding: 1.5rem;
}

form label {
    font-size: 1rem;
    font-weight: 500;
}

form input,
textarea {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    border: none;
    width: 100%;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 5rem;
}

form span {
    margin: 0 0 0.5rem 0.75rem;
    font-size: 0.75rem;
    color: red;
}

form button {
    padding: 0.75rem 2rem;
    background: var(--perola);
    border: 1px solid var(--perola);
    color: var(--vermelho);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

/* Mapa */
#mapa {
    width: 480px;
    flex-direction: column;
    gap: 3rem;
}

#endereco > p {
    font-size: 1rem;
    font-weight: 600;
}
